define rules NET to ME
# HTTP Proxy
accept protocol tcp port http
end define

define rules SAMBA_PORTS
accept protocol tcp ports 139,445
accept protocol udp ports 135,137
end define

define rules APPLE_CRAP
# iPhone + iPod Exceptions
accept protocol tcp port http	# Proxy Bypass
accept protocol tcp port https	# Proxy Bypass
accept protocol tcp port smtps	# Secure SMTP
accept protocol tcp port imaps	# Secure IMAP
accept protocol tcp port pop3s	# Secure POP
accept protocol tcp port 587	# Gmail SMTP
accept protocol tcp port 1080	# Opera Mini Proxy Server
accept protocol udp port ntp	# NTP
accept destination address 17.0.0.0/8	# Apple IP Range (Fuckers)
end define

define rules LAN to NET
# Allow iDevices out via the subroutine APPLE_CRAP
APPLE_CRAP mac 04:1e:64:4a:41:e2	# iPhone
reject mac 04:1e:64:4a:41:e2		# iPhone
APPLE_CRAP mac 00:25:00:DD:13:BC	# iPod
reject mac 00:25:00:DD:13:BC		# iPod
# Email Egress
accept protocol tcp ports pop3,pop3s source address 192.168.1.2	# pop3 connections for fetchmail
accept protocol tcp port imaps source address 192.168.1.2 	    # GMail (offlineimap backup)
#
reject protocol tcp ports smtp,smtps,imap,pop3,imaps,pop3s
#
accept protocol tcp port whois	# whois queries
accept protocol tcp port git	# git
accept protocol tcp port 3389 destination address rdp.example.com	# rdp outbound
end define

define rules DMZ to NET
accept
end define

define rules DMZ to LAN
accept protocol tcp port http destination address 192.168.31.2
accept protocol tcp port 9100 destination address hp-printer.lan.example.com
end define

define rules DMZ to ME
accept protocol tcp ports smtp,domain,squid
accept protocol udp ports ntp,domain
end define

define rules LAN to ME
accept protocol tcp ports ssh,smtp,domain,squid,pop3,imap
accept protocol udp ports ntp,domain
accept protocol tcp ports 4242,4243
end define

define rules ANY to NET
accept protocol tcp port 5432	# PostgreSQL is OK
end define

define rules LAN to DMZ
accept
end define

### Port Forwards
# Don't forget the matching rules in "NET to DMZ" target
map in NET destination address public-ip.example.com protocol tcp ports ssh,rsync to 192.168.2.195

define rules NET to DMZ
accept protocol tcp port ssh destination address 192.168.2.195
accept protocol tcp port rsync source address somewhere.example.org destination address 192.168.2.195
end define

define rules check_icmp
accept source address nagios.example.com	# nagios monitoring bypasses icmp checking
accept protocol icmp type 0 limit 5/sec burst 10
accept protocol icmp type 3 limit 5/sec burst 10
accept protocol icmp type 8 limit 5/sec burst 10
accept protocol icmp type 11 limit 5/sec burst 10
accept protocol icmp type 30 limit 5/sec burst 10
drop all protocol icmp
end define

add to INPUT
reject in NET source group rfc1918     # Use 'source group' to pull a list from 'addrgroups.conf'
accept in LAN protocol udp ports bootps,bootpc	# Allow clients to DHCP
accept in DMZ protocol udp ports bootps,bootpc	# Allow clients to DHCP
accept in MEDIA protocol udp ports bootps,bootpc	# Allow clients to DHCP
accept in PUB protocol udp ports bootps,bootpc	# Allow clients to DHCP
accept in CFG protocol udp ports bootps,bootpc	# Allow clients to DHCP
check_icmp all protocol icmp
# silently drop nuisance stuff
REJECT all protocol tcp port auth
DROP all in LAN protocol udp ports 34443,3081,1900
iptables -A INPUT -m addrtype --dst-type BROADCAST -j DROP
iptables -A INPUT -m addrtype --dst-type MULTICAST -j DROP
iptables -A INPUT -p tcp -m multiport --destination-port 135,137,138,139,445 -j DROP
iptables -A INPUT -p udp -m multiport --destination-port 135,137,138,139,445 -j DROP
end define

add to FORWARD
check_icmp all protocol icmp
# silently drop nuisance stuff
DROP out NET protocol udp ports 135,137,138,139,445
DROP out NET protocol tcp ports 135,137,138,139,445
# Allow bounce routing
accept in LAN out LAN
accept in DMZ out DMZ
accept in MEDIA out MEDIA
accept in PUB out PUB
accept in CFG out CFG
end define

# Standard stuff
common loopback
common nat NET
common bogon NET
common xmas NET
common xmas DMZ
common spoof LAN 192.168.1.0/24
common spoof DMZ 192.168.1.0/24
